* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   background-color: #163564;
   background-image: url('./img/background.jpg');
   background-position: center;
   background-size: cover;
   background-repeat: repeat;
   height: 100dvh;
}


header {
   background-color: #163564;
   padding: 0 0 20px;
}

.app-name {
   color: #fff;
   height: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.2rem;
   background-color: #163564;
   display: flex;
   gap: 10px;
}

.city {
   display: flex;
   justify-content: center;
   gap: 10px;
}

#cityName {
   font-weight: bold;
}

#city-name{
   padding: 5px;
   font-size: 1rem;
   border-radius: 5px;
   outline: none;
   border: none;
}

#city:focus {
   border: none;
   outline: none;
}

.hidden {
   visibility: hidden;
}

.main-forecast {
   display: flex;
   justify-content: center;
   margin-top: 50px;
}

.forecastOne, .forecast {
   background-color: rgb(7, 6, 6, 0.7);
   font-size: 3rem;
   padding: 10px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   font-size: .9rem;
   color: #fff;
   margin-top: 10px;
}

.forecastOne {
   width: min(80%, 300px);
}

.slide, .other-slides {
   width: 100%;
   display: grid;
   grid-row: 30px 100px;
}

.slide p, .other-slides p{
   margin: 5px 0;
}

.day {
   font-weight: bold;
   font-size: 22px;
}

.date {
   width: 10rem;
   font-weight: 300;
}

.icon-size {
   font-size: 35px;
   font-weight: bold;
}

.icon {
   width: 50px;
   height: 50px;
}

.thin-para {
   font-size: .7rem;
   font-weight: 100;
   color: rgb(133, 133, 133);
}

.description {
   color: white;
}

.other-forecast {
   gap: 10px;
   margin: 40px 30px;
   display: grid;
   grid-template-columns:  repeat(auto-fill, minmax(170px, 1fr));
}

.spinner {
   border: 8px solid #f3f3f3; /* Light grey */
   border-top: 8px solid #3498db; /* Blue */
   border-radius: 50%;
   width: 50px;
   height: 50px;
   animation: spin 2s linear infinite;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50, -50);
 }
 
 @keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
 }

