* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   background-color: #163564;
   background-image: url('./img/background.jpg');
   background-position: center;
   background-size: cover;
   background-repeat: repeat;
   height: 100dvh;
}


header {
   background-color: #163564;
}

.app-name {
   color: #fff;
   height: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.2rem;
   background-color: #163564;
}

.city label {
   font-size: 1.5rem;
   color: white;
   
}

#city-name{
   padding: 5px;
   font-size: 1rem;
   border-radius: 5px;
   outline: none;
   border: none;
}

#city:focus {
   border: none;
   outline: none;
}

.main-forecast {
   display: flex;
   justify-content: center;
   margin-top: 50px;
}

.forecast {
   width: min(80%, 300px);
   background-color: rgb(7, 6, 6, 0.7);
   font-size: 3rem;
   padding: 10px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   font-size: 1rem;
   color: #fff;
}

.slide {
   width: 100%;
   display: grid;
   grid-row: 30px 100px;
}

.slide p{
   margin: 5px 0;
}

.day {
   font-weight: bold;
   font-size: 22px;
}

.date {
   font-size: .9rem;
   font-weight: 300;
}

.icon-size {
   font-size: 35px;
   font-weight: bold;
}

.thin-para {
   font-size: .7rem;
   font-weight: 100;
   color: rgb(133, 133, 133);
}

.description {
   color: white;
}